<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel = "stylesheet" href=" {{ url_for('static' , filename = 'css/ex8_css.css') }}">

<script src={{ url_for('static', filename = 'js/ex8.js') }}></script>
</head>
<body>
<div class="item1" >
        <h1>Haran Gilboa</h1>
        <h3>Data scientist at OOLO, a fourth year student at Industrial Engineering & Management specialization at Intelligent Systems </h3>
    </div>
    <div class="item2">

        <img src="static\img\haran.jfif" alt="my picture" width="130" class="center"/>
    </div>

</body>
</html>