<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update details</title>
<script src="{{ url_for('static', filename = 'js/ex8.js') }}"></script>

</head>
<body>
<h2>Update details:</h2>
        <form action = "/update_details" method= "POST">
            User ID: <br><label><input name = "id" type="text"> </label>
            <br>
            <label for="first_name">First Name:</label>
            <br>
            <input name = "first_name" id="first_name" required >
            <br>

            <label for="last_name">Last Name:</label>
            <br>
            <input name = "last_name" id="last_name" required >
            <br>

            <label for="email">Email:</label>
            <br>
            <input name = "email" type = "email" id="email" required>
            <br>
            <br>
            <input type="submit" onclick="say_thank_you(this)">

        </form>

</body>
</html>